<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="true"
		 bootstrap="vendor/autoload.php"
         cacheDirectory="build/phpunit/cache"
         beStrictAboutOutputDuringTests="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         colors="true"
         beStrictAboutCoverageMetadata="true"
         requireCoverageMetadata="true"
>
    <testsuite name="Test Suite">
        <directory suffix="Test.php">tests</directory>
    </testsuite>
	<source>
		<include>
			<directory>src</directory>
		</include>
	</source>
    <coverage pathCoverage="false"
              cacheDirectory="build/phpunit/cache">
        <report>
            <clover outputFile="build/logs/clover.xml"/>
            <html outputDirectory="build/logs/coverage" lowUpperBound="50" highLowerBound="90"/>
        </report>
    </coverage>
</phpunit>
